mixin radio()
	.radio
		input(class="radio__input" type="radio" id="manrad" value="m" name="sex" checked)
		label(class="radio__text" for="manrad") Мужчина
		input(class="radio__input" type="radio" id="womanrad" value="w" name="sex")
		label(class="radio__text" for="womanrad") Женщина