@import '../../components/logo/logo';
@import '../../components/color-samples/colors';
@import '../../components/font-samples/font-samples';
@import './variables';

.container {
	display: flex;
	justify-content: space-between;
}
.font-samples {
	display: flex;
	flex-direction: column;
	width: 400px;
}

