@import '../../components/logo/logo';
@import '../../components/color-samples/colors';
@import '../../components/font-samples/font-samples';
@import '../../components/buttons/button';
@import '../../components/toggle/toggle';
@import '../../components/input/input';
@import '../../components/checkbox/checkbox';
@import '../../components/radio/radio';
@import '../../components/like button/button__like';
@import '../../components/rate__button/rate__button';
@import '../../components/subscription/subscription';
@import '../../components/dropdown/dropdown';
@import '../../components/rangeSlider/rangeSlider';
@import '../../components/pagination/pagination';
@import '../../components/datepicker/datepicker__main';
@import '../../components/checkbox-expandable/checkbox-expandable';
@import '../../components/bullet-list/bullet-list';
@import './variables';

.container {
	display: flex;
	justify-content: space-between;
}
.font-samples {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-right: 190px;
}


