mixin font-samples()
	.font__samples-sub
		.font__name
			p H1
		.font__desc
			p This one is the sub-section or widget title
	.font__samples-title
		.font__name
			p H2
		.font__desc
			p Next one is the item title inside<br> widgets
	.font__samples-label
		.font__name
			p H3
		.font__desc
			p This is a label or CTA text
	.font__samples-body
		.font__name
			p Body
		.font__desc
			p This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.