.font__name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
}
.font__samples-sub {
	display: inline-flex;
}
.font__samples-title {
	display: inline-flex;
}
.font__samples-label {
	display: inline-flex;
}
.font__samples-body {
	display: inline-flex;
}