@import '../checkbox/checkbox';

.checkbox-expandable {
	width: 100%;
	&__title {
		width: 100%;
		display: flex;
		align-items: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		color: $Dark;
		i {
			color: $Dark-50;
			margin-left: 12px;
			&::after {
				transform: rotate(-135deg);
			}
		}
	}
	&__list {
		list-style-type: none;
		padding: 0;

	}

}