mixin footer-creative()
	.footer-creative
		.footer-creative__logo
			img(src="../../assets/img/Logo-color.svg", alt="logo")
		.footer-creative__text
			p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam<br> pellentesque aliquam curabitur cociis.
		.footer-creative__icons
			a(href="")
				<i class="fab fa-twitter"></i>
			a(href="")
				<i class="fab fa-facebook-square"></i>
			a(href="")
				<i class="fab fa-instagram"></i>