mixin rate__button()
	.rate__button
		input.rate__button_star(type="radio" name="rating" id="rating-5")
		label.rate__button_lab(for="rating-5")
		input.rate__button_star(type="radio" name="rating" id="rating-4")
		label.rate__button_lab(for="rating-4")
		input.rate__button_star(type="radio" name="rating" id="rating-3")
		label.rate__button_lab(for="rating-3")
		input.rate__button_star(type="radio" name="rating" id="rating-2")
		label.rate__button_lab(for="rating-2")
		input.rate__button_star(type="radio" name="rating" id="rating-1")
		label.rate__button_lab(for="rating-1")
