mixin advantages({title='Удобства', description='окно в каждой из спален', icon='insert_emoticon'} = {})
	.advantages
		.advantages__icon
			i.material-icons= icon
		.advantages__text
			span.advantages__text-title= title
			p.advantages__text-desc= description