mixin button(name)
	button.button__main=name
mixin button__light(name)
	button.button__main-light=name
mixin button__tran(name)
	button.button__main-tran=name
mixin button__big(name)
	button.button__main-big=name
		.button__main-big-arrow
			i.material-icons arrow_forward