mixin button()
	button.button__main click me
mixin button__light()
	button.button__main-light click me
mixin button__tran()
	button.button__main-tran click me
mixin button__big()
	button.button__main-big перейти к оплате 
		//- img.button__main-big-arrow(src="../../assets/img/arrow_forward.png", alt="стрелка")
		.button__main-big-arrow
			i.material-icons arrow_forward