.button__main {
	width: 101px;
	height: 44px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: $Light;
	border-radius: 22px;
	border: none;
	background: $Purple-gr;
	&:hover {
		opacity: 0.5;
	}
}
.button__main-light {
	// @extend .button__main;
		min-width: 79px;
		height: 44px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		border-radius: 22px;
		position: relative;
		box-sizing: border-box;
		color: $Purple;
		background: $Light;
		$border: 2px;
		background-clip: padding-box;
		border: solid $border transparent;
		&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -$border;
		border-radius: inherit;
		background: $Purple-gr;
		}
}
.button__main-light:hover::before {
	opacity: 0.5;
	
}
.button__main-tran {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: $Purple;
	border: none;
	background: none;
	&:hover {
		color: $Dark-50;
	}
}
.button__main-big {
	@extend .button__main;

	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&-arrow {
		// width: 50%;
	}
}