mixin sign-in-card()
	article.sign-in-card
		h2.sign-in-card__title Войти
		form.sign-in-card__form
			.sign-in-card__form_input
				+input()(class!=attributes.input__sign-up-card, placeholder= 'Email')
				+input()(class!=attributes.input__sign-up-card, placeholder= 'Пароль')
			.sign-in-card__form_button
				+button__big('войти')
			.sign-in-card__form_account
				span Нет аккаунта на Toxin?
				+button__light('Создать')
