extends ../components/main/main-base

include ../components/buttons/button
include ../components/toggle/toggle
include ../components/input/input
include ../components/checkbox/checkbox
include ../components/radio/radio
include ../components/button-like/button__like
include ../components/rate__button/rate__button
include ../components/subscription/subscription
include ../components/dropdown/dropdown
include ../components/rangeSlider/rangeSlider
include ../components/pagination/pagination
include ../components/datepicker/datepicker
include ../components/checkbox-expandable/checkbox-expandable
include ../components/bullet-list/bullet-list
include ../components/advantages/advantages
include ../components/reviews/reviews
include ../components/search-card/search-card
include ../components/sign-up-card/sign-up-card
include ../components/sign-in/sign-in
include ../components/book-card/book-card
include ../components/slider-card/slider-card
include ../components/header/header
include ../components/footer-widgets/footer-widgets
include ../components/footer-creative/footer-creative

block description
  meta(name="description" content="Компоненты нашего сайта.")

block keywords
  meta(name="keywords" content="")

block title
  title Отель Toxin | Страница с компонентами проекта

block styles
  link(rel="stylesheet" href="/assets/scss/Ui-Kit.scss")
  //- link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

block content
  +button('click me')
  +button__light('click me')
  +button__tran('click me')
  +button__big('перейти к оплате')
  //- +input()
  //- +checkbox('собака', 'rich', 'На 1 этаже вас встретит специалист  и проводит до номера.')
  //- +checkbox('Cобака', 'rich', 'На 1 этаже вас встретит')
  //- +radio
  //- +toggle()
  //- +button__like
  //- +button__like
  //- +rate__button
  //- +input()(type='email', placeholder='Email')
  //- +subscription()(class="input__sub")
  //- +subscription('arrow_forward', 'Email')(class="input__sub")
  //- +dropdown()
  //- +rangeSlider
  //- +pagination()
  //- +datepicker()
  -
    const checkboxesExpandable =
                [
                  'Завтрак',
                  'Письменный стол'
                  // {"id": "field-desk", "title": "Письменный стол", "name": "desk", "checked": true},
                  // {"id": "field-chair", "title": "Стул для кормления", "name": "chair", "checked": true},
                  // {"id": "field-bed", "title": "Кроватка", "name": "bed", "checked": true},
                  // {"id": "field-tv", "title": "Телевизор", "name": "tv"},
                  // {"id": "field-shampoo", "title": "Шампунь", "name": "shampoo"}
                ];
  //- +checkbox-expandable({'title': 'expandable checkbox list', 'icon': 'expand_more', 'items': checkboxesExpandable})
  //- +bullet(['Нельзя с питомцами', 'Без вечеринок и анимаций'])
  //- +advantages()
  //- +advantages({'title': 'Комфорт', 'icon': 'location_city', 'description': 'Шумопоглащяющие стены'})
  //- +reviews({'avatar': '/assets/img/avatar.png', 'name': 'Мурад Сарафанов', 'desc': 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 'time': '5 дней назад', 'like': '17'})
  //- +search-card()
  //- +sign-up-card()
  //- +sign-in()
  //- +book-card()
  //- +slider-card('люкс')
  //- +header()
  //- +footer-widgets()
  //- +footer-creative()