extends ../components/Main/main-base

include ../components/logo/logo
include ../components/colors&types/colors

block description
  meta(name="description" content="Компоненты нашего сайта. Из этих маленьких кусочков собирается большой проект")

block keywords
  meta(name="keywords" content="форма поиска номера, форма бронирования номера, кнопка с градиентом")

block title
  title Отель Toxin | Страница с компонентами проекта

block styles
  link(rel="stylesheet" href="./assets/scss/Ui-Kit.scss")

block content
  +logo
  +colors
  +colors
  +colors
  +colors
  +colors
  +colors
  +colors