@import '../datepicker/datepicker';
@import '../dropdown/dropdown';
@import '../buttons/button';

.book-card {
	display: flex;
	flex-direction: column;
	width: 380px;
	height: auto;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 30px;
	&__form_datepicker-departure {
		padding-left: 20px;
	}
	&__room {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		&_info {
			font-family: Quicksand;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			&-number {
				font-size: 24px;
				padding-left: 5px;
				padding-right: 5px;
			}
			&-type {
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				text-transform: uppercase;
				color: $Purple;
			}
		}
		&_day {
			font-family: Montserrat;
			font-style: normal;
			font-size: 14px;
			color: rgba(31, 32, 65, 0.5);
				&-price {
					padding-right: 5px;
					font-weight: bold;					
				}
		}
	}
	&__form {
		&_datepicker {
			display: flex;
			justify-content: space-between;
		}
		&_guest {
			margin-top: 20px;
		}
		&_info {
			margin-top: 20px;
			&-group {
				display: flex;
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				color: $Dark-75;
				line-height: 24px;
				&--info {
					flex-grow: 1;
					line-height: 18px;
					&--has-tip {
						position: relative;
						&::after {
							display: flex;
							justify-content: center;
							position: absolute;
							content: 'i';
							width: 20px;
							height: 20px;
							font-family: Montserrat;
							font-style: normal;
							font-weight: bold;
							font-size: 12px;
							border: 1px solid rgba(31, 32, 65, 0.25);
							color: rgba(31, 32, 65, 0.25);
							border-radius: 50%;
							box-sizing: border-box;
							top: 0;
							right: 0;
							cursor: help;
						}
					}
				}
				&--price {
					width: 25%;
					display: flex;
					justify-content: flex-end;
				}
			}
			&-total {
				display: flex;
				justify-content: space-between;
				margin-top: 20px;
				font-family: Quicksand;
				font-style: normal;
				font-weight: bold;
				font-size: 19px;
					&--border {
					border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
					box-sizing: border-box;
					flex-grow: 1;
					}
			}
		}
		&_button {
			margin-top: 20px;
		}
	}
}