// .checkbox {
// 	width: 20px;
// 	height: 20px;
// 	background: #FFFFFF;
// 	border: 1px solid $Dark-25;
// 	box-sizing: border-box;
// 	border-radius: 4px;
// }

.checkbox {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	margin: 5px 0 5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $Dark-50;
	label {
		margin-left: 10px;
	}
}
.checkbox__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	content: '';
	display: block;
	min-height: 20px;
	min-width: 20px;
	border: 1px solid $Dark-25;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	&:checked {
		background-image: url(/assets/img/check.svg);
		background-position: center;
		border: 1px solid $Purple;
	}
}
.checkbox__input_rich {
	@extend .checkbox__input;
	&_label {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: $Dark-75;
	}
	&_description {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: $Dark-50;
	}
	&:checked {
		background-image: url(/assets/img/check.svg);
		background-position: center;
		border: 1px solid $Purple;
	}
}
// .checkbox__input:checked {
// 	width: 20px;
// 	height: 20px;
// 	background-image: url(/assets/img/check.svg);
// 	background-position: center;
// 	// background-clip: content-box;
// 	// padding: 3px;
// 	border-radius: 4px;
// 	border: 1px solid $Purple;
// }

/* .checkbox label:before {
	content: '';
	display:block;
	height:20px;
	width:20px;
	border: 1px solid $Dark-25;
	box-sizing: border-box;
	border-radius: 4px;
	position: absolute;
	top:0;
	left:0;
}
.checkbox input[type=checkbox]:checked + label:before {
	height: 20px;
	width: 20px;
	border: 1px solid $Purple;
} */