mixin rangeSlider()
	.range__slider
		span.range__slider__text range slider
		label.range__slider__label(for="range")
		input.range-slider__fuild.js-range-slider(name="my_range" value="" type="text" id="range")